body {
      background: #0a008b;
      font-family: moonscape;
      margin: 10px;
  }
  
a {
      color: red;      
  }
a:visited{
    color: orangered;
}
p {
    color: white;
    font-size: 16px;
}

h1{
    color: #c1c1c1;
    text-align: center;
}
h3 {
     color: brown;
     font-size: 30;
 }
 
div {
    background-color:#102bc5;
    padding: 15px;
    color: whitesmoke;
    margin: 10px;
    
}

br{
    
}

ul{
    
}

li{
    text-decoration-line:underline;
    text-decoration-color: #40fff5;
}

img{
    align-self: center;
    width: 60%;
    height: 60%;
    align-items: center;
}
table {
    background: yellow;
    th{
        
    }
}

